.carousel-control-prev-icon,
.carousel-control-next-icon{
    background-color: #0071ef;
    border-radius: 50%;
}

.image img{
    width: 500px;
    height: 320px;
    object-fit: cover;
}

.service-details{
    width: 480px;
}