.blog .post-item {
  margin-bottom: 40px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog .post-item:hover {
  box-shadow: 0px 15px 10px 0px rgba(136, 136, 136, 0.1);
}

.blog .post-item .post-img img {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 250px;
}

.blog .post-item:hover .post-img img {
  transform: scale(1.07);
}

.blog .post-item .post-content {
  padding: 35px 30px 5px 30px;
  background-color: #fff;
}

.blog .post-item .post-content .meta {
  font-size: 1rem;
  color: #0071ef;
  padding-bottom: 5px;
}

.blog .post-item .post-content .meta a {
  font-weight: 500;
  color: #0071ef;
}

.blog .post-item .post-content h4>a {
  margin-bottom: 2px;
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog .post-item:hover h4>a {
  color: #0071ef;
}

.blog .post-item .blog-footer {
  padding: 17px 30px;
  border-top: 1px solid #ecf0f3;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.blog .post-item .blog-footer .viewall {
  color: #000000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog .post-item:hover .viewall {
  color: #0071ef;
}

.blog .post-item .blog-footer .blog-comment {
  font-size: 1rem;
  color: #696969;
}