body {
  color: #696969;
}

.padding-tb {
  padding: 80px 0;
}

.home-bg-color {
  background-color: #f5f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6 {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-weight: 700;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  z-index: -1;
}

.bg-nav-color {
  background-color: #0071ef;
}

@media (min-width: 576px) {
  p {
    font-size: 1rem;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.5;
  }

  h1 {
    font-size: 3.75em;
    line-height: 1.5;
  }

}

@media (min-width: 992px) {

  .padding-tb {
    padding: 120px 0;
  }
}