.bg-color {
  background-color: #0071ef;
}

.color {
  color: #0071ef;
}

.hero {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  color: #0071ef;
  min-height: 40vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero p {
  color: #000;
}

.services-text {
  width: 480px;
}

.carousel-img {
  width: 500px;
  height: 320px;
  object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: #0071ef;
  border-radius: 50%;
}

.input-group button {
  font-size: 14px;
}

input-group .input-group-text {
  background-color: transparent;
  border-right: 0;
}

.form-control {
  border-left: 0;
}

footer {
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}