.appointment .appointment-left {
  position: relative;
  overflow: hidden;
  height: 650px;
  padding: 100px 65px 100px 65px;
}

.appointment .appointment-left .time-info .al-title h2 {
  color: #fff;
  margin: 0;
  line-height: 1.3;
}

.appointment .appointment-left .time-info .dep-item {
  padding: 15px 0;
  color: #fff;
  border-bottom: 1px solid #9b8df9;
}

.appointment .appointment-right {
  position: relative;
  overflow: hidden;
  padding: 100px 65px 100px 65px;
  height: 650px;
}

.appointment .appointment-right .background-img {
  object-position: right;
}

.appointment .appointment-right .ar-title h2 {
  color: #fff;
  margin: 0;
  line-height: 1.3;
}

.appointment .appointment-right form input {
  border: 1px solid rgba(236, 240, 243, 0.5);
  background: transparent;
  color: #fff;
  padding: 12px 15px;
  border-radius: 2px;
  outline: none;
  margin-bottom: 30px;
  width: 100%;
}

.appointment .appointment-right form input::placeholder {
  color: #fff;
}

.appointment .appointment-right form input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  filter: invert(1);
}

.appointment .appointment-right form select {
  padding: 12px 15px;
  border: 1px solid rgba(236, 240, 243, 0.5);
  background: transparent;
  color: #fff !important;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.appointment .appointment-right form select option {
  outline: none;
  background: #0071ef;
  cursor: pointer;
}

.appointment .appointment-right form .lab-btn {
  line-height: 45px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 0 1.3rem;
  border: 2px solid #0071ef;
  color: #fff;
  text-transform: capitalize;
}

.appointment .appointment-right form .lab-btn span {
  color: #0071ef;
}

.appointment .appointment-right form .lab-btn {
  border-color: #fff;
}

/* Responsiveness */

@media (min-width: 768px) {

  .appointment .appointment-right,
  .appointment .appointment-left {
    height: 700px;
  }

  .appointment .appointment-left {
    padding: 100px 40px 100px 40px;
  }

  .appointment .appointment-right {
    padding: 100px 40px 100px 40px;
  }
}

@media (min-width: 992px) {

  .appointment .appointment-right,
  .appointment .appointment-left {
    height: 700px;
  }

  .appointment .appointment-left {
    padding: 100px 40px 100px 100px;
  }

  .appointment .appointment-right {
    padding: 100px 100px 100px 40px;
  }

}